@import url(fonts.css);
@import url(variables.css);

*{
    font-family: 'Lexend', sans-serif;
    color: white;
    user-select: none;
}

body{
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #3d2369;
}

main{
    width: 1031px;
    height: 657px;
    background-color: var(--main-bg);

    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.103);

    overflow: hidden;
}

#start-menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#start-menu .center{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 50px;
    width: 400px;
}

#start-menu .center .title{
    font-size: 50px;
    font-weight: 600;
}



#start-menu .center .buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn:hover{
    transform: scale(1.01);
}

.btn{
    background-color: var(--element-bg);
    box-shadow: var(--element-border);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.2s;
}

.btn:active{
    transform: scale(1.02);

}

.btn.deselected{
    opacity: 0.4;
}

.btn.activated{
    box-shadow: var(--element-border-green);
}

.btn.disabled{
    box-shadow: var(--element-border-red);
}

#start-menu .center .buttons .multiple{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#start-menu .center .buttons .multiple .btn{
    width: 190px;
}

#start-menu .happy,
#start-menu .rope{
    position: absolute;
}

#start-menu .happy{
    width: 80px;
    right: 270px;
    top: 260px;

    transform: rotate(34deg);
}

#start-menu .rope{
    top: 0;
    left: 150px;
    height: 200px;
}




#game{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
}


#game .top{
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

#game .top .title{
    font-size: 32px;
    background-color: var(--element-bg);
    width: 290px;
    height: 100px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-weight: 500;    
    align-items: center;
    margin-left: 100px;
    border-radius: 20px;
    position: relative;
}

#game .top .planet{
    position: absolute;
    width: 185px;
    left: -70px;
}

#game .top .indicators{
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-right: 80px;
}
#game .top .indicators .card{
    width: 140px;
    background-color: var(--element-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 60px;

    font-size: 30px;
    border-radius: 10px;
}

#game .top .indicators .card .content {
    

}

#game .top .indicators .card .icon {

}

#game .game-content{
    width: calc(100% - 160px);
    height: 420px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#game .game-content .image-box{
    width: 340px;
    height: 100%;
    background-color: var(--element-bg);
    border-radius: 20px;
}

#game .game-content .right{
    width: 450px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

#game .game-content .word-box{
    width: 100%;
    height: 70px;
    background-color: var(--element-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#game .game-content .word-box span{
    font-size: 30px;
    letter-spacing: 10px;
}

#game .game-content .line{
    width: 80%;
    height: 9px;
    border-radius: 10px;
    background: var(--element-bg);
}

#game .game-content .keyboard{
    width: 100%;
    height: fit-content;

    display: flex;
    flex-wrap: wrap;
    justify-content:last baseline;

    gap: 14px;
}
#game .game-content .keyboard .key{
    width: 50px;
    height: 60px;
    background-color: var(--element-bg);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#game .game-content .keyboard .key:hover{
    transform: scale(1.05);
}